## Data Munging

### Chapter 7 - Data TYpes

In [73]:
import pandas as pd
import seaborn as sns
import re
import regex

In [3]:
tips = sns.load_dataset("tips")

In [4]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [5]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [6]:
tips['sex_str_d'] = str(tips['sex'])

In [7]:
# tips= tips[:6]drop('sex_str_d')
# tips.dtypes
tips = tips.iloc[:,:8]

In [8]:
tips.head(10)

,total_bill,tip,sex,smoker,day,time,size,sex_str_d
0,16.99,1.01,Female,No,Sun,Dinner,2,0 Female\n1 Male\n2 Male\n3...
1,10.34,1.66,Male,No,Sun,Dinner,3,0 Female\n1 Male\n2 Male\n3...
2,21.01,3.50,Male,No,Sun,Dinner,3,0 Female\n1 Male\n2 Male\n3...
3,23.68,3.31,Male,No,Sun,Dinner,2,0 Female\n1 Male\n2 Male\n3...
4,24.59,3.61,Female,No,Sun,Dinner,4,0 Female\n1 Male\n2 Male\n3...
5,25.29,4.71,Male,No,Sun,Dinner,4,0 Female\n1 Male\n2 Male\n3...
6,8.77,2.00,Male,No,Sun,Dinner,2,0 Female\n1 Male\n2 Male\n3...
7,26.88,3.12,Male,No,Sun,Dinner,4,0 Female\n1 Male\n2 Male\n3...
8,15.04,1.96,Male,No,Sun,Dinner,2,0 Female\n1 Male\n2 Male\n3...
9,14.78,3.23,Male,No,Sun,Dinner,2,0 Female\n1 Male\n2 Male\n3...

In [9]:
tips['total_bill'] = tips['total_bill'].astype(str)

In [10]:
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str_d       object
dtype: object

In [11]:
tips['total_bill'] = tips['total_bill'].astype(float)

In [12]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str_d       object
dtype: object

In [13]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'

/var/folders/7b/2yrw0wyj5hjgm886sm7nc38r0000gn/T/ipykernel_1083/1719101317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'

In [14]:
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size  \
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

                                           sex_str_d
0  0      Female\n1        Male\n2        Male\n3...
1  0      Female\n1        Male\n2        Male\n3...
2  0      Female\n1        Male\n2        Male\n3...
3  0      Female\n1        Male\n2        Male\n3...
4  0      Female\n1        Male\n2        Male\n3...
5  0      Female\n1        Male\n2        Male\n3...
6  0      Female\n1        Male\n2        Male\n3...
7  0      Female\n1        Male\n2        Male\n3...
8  0      Female\n1        Male\n2        Male\n3...
9  0      Female\n1        Male\n2        Male\n3...

In [15]:
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str_d       object
dtype: object

In [16]:
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [17]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')

print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size  \
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6       8.77  2.00    Male     No  Sun  Dinner     2
7    missing  3.12    Male     No  Sun  Dinner     4
8      15.04  1.96    Male     No  Sun  Dinner     2
9      14.78  3.23    Male     No  Sun  Dinner     2

                                           sex_str_d
0  0      Female\n1        Male\n2        Male\n3...
1  0      Female\n1        Male\n2        Male\n3...
2  0      Female\n1        Male\n2        Male\n3...
3  0      Female\n1        Male\n2        Male\n3...
4  0      Female\n1        Male\n2        Male\n3...
5  0      Female\n1        Male\n2        Male\n3...
6  0      Female\n1        Male\n2        Male\n3...
7  0      Female\n1        Male\n2        Male\n3...
8  0      Female\n1        Male\n2        Male\n3...
9  0      Female\n1        Male\n2        Male\n3...

/var/folders/7b/2yrw0wyj5hjgm886sm7nc38r0000gn/T/ipykernel_1083/436193894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')

In [18]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')

print(tips_sub_miss)

   total_bill   tip     sex smoker  day    time  size  \
0       16.99  1.01  Female     No  Sun  Dinner     2
1         NaN  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3         NaN  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5         NaN  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7         NaN  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

                                           sex_str_d
0  0      Female\n1        Male\n2        Male\n3...
1  0      Female\n1        Male\n2        Male\n3...
2  0      Female\n1        Male\n2        Male\n3...
3  0      Female\n1        Male\n2        Male\n3...
4  0      Female\n1        Male\n2        Male\n3...
5  0      Female\n1        Male\n2        Male\n3...
6  0      Female\n1        Male\n2        Male\n3...
7  0      Female\n1        Male\n2        Male\n3...
8  0      Female\n1        Male\n2        Male\n3...
9  0      Female\n1        Male\n2        Male\n3...

/var/folders/7b/2yrw0wyj5hjgm886sm7nc38r0000gn/T/ipykernel_1083/4035223106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')

In [19]:
tips_sub_miss.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str_d       object
dtype: object

In [20]:
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str_d   244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

## String and Text Data

In [21]:
word = 'grail'

sent = 'a scratch'

In [27]:
print(word[0])
print(sent[0])
print(word[0:3])
print(sent[-1])
print(sent[-9:-8])
print(sent[0:-8])

g
a
gra
h
a
a

In [28]:
print(sent[2:-1])

scratc

In [31]:
s_len = len(sent)

print(s_len)
print(sent[2:s_len])

9
scratch

In [32]:
print(sent[::2])

asrth

In [33]:
multi_str = """Guard: What? Ridden on a horse?

King Arthur: Yes!

Guard: You're using coconuts!

King Arthur: What?

Guard: You've got ... coconut[s] and you're bangin' 'em together. """

print(multi_str)

Guard: What? Ridden on a horse?

King Arthur: Yes!

Guard: You're using coconuts!

King Arthur: What?

Guard: You've got ... coconut[s] and you're bangin' 'em together.

In [34]:
multi_str_split = multi_str.splitlines()

print(multi_str_split)

['Guard: What? Ridden on a horse?', '', 'King Arthur: Yes!', '', "Guard: You're using coconuts!", '', 'King Arthur: What?', '', "Guard: You've got ... coconut[s] and you're bangin' 'em together. "]

In [37]:
var = 'flesh wound'

s = "It's just a {}!"


print(s.format(var))

It's just a flesh wound!

In [43]:
s = """Black Knight: 'Tis but a {0}.

King Arthur: A {0}? Your arm's off!

"""


print(s.format('scratch'))

Black Knight: 'Tis but a scratch.

King Arthur: A scratch? Your arm's off!

In [44]:
s = 'Hayden Planetarium Coordinates: {lat}, {lon}'

print(s.format(lat='40.7815° N', lon='73.9733° W'))

Hayden Planetarium Coordinates: 40.7815° N, 73.9733° W

In [45]:
print("I remember {0:.4} or {0:.4%} of what Lu Chao recited".\

    format(7/67890))

I remember 0.0001031 or 0.0103% of what Lu Chao recited

In [46]:
print("In 2005, Lu Chao of China recited {:,} digits of pi".\

     format(67890))

In 2005, Lu Chao of China recited 67,890 digits of pi

In [50]:


print('I only know %d digits of pi' % 7)

I only know 7 digits of pi

In [48]:
print('Some digits of %(cont)s: %(value).2f' % {'cont': 'e', 'value': 2.718})

Some digits of e: 2.72

In [51]:
var = 'flesh wound'

s = f"It's just a {var}!"

print(s)

It's just a flesh wound!

In [52]:
lat='40.7815° N'

lon='73.9733° W'

s = f'Hayden Planetarium Coordinates: {lat}, {lon}' 

print(s)

Hayden Planetarium Coordinates: 40.7815° N, 73.9733° W

In [56]:
p = '\d{3}\s?\d{3}\s?\d{4}'
tele_num_spaces = '123 456 7890'

m = re.match(pattern=p, string=tele_num_spaces)

print(m)

<re.Match object; span=(0, 12), match='123 456 7890'>

In [57]:
cnty_tele_num_space_paren_dash = '+1 (123) 456-7890'

p = '\+?1\s?\(?\d{3}\)?\s?\d{3}\s?-?\d{4}'

m = re.match(pattern=p, string=cnty_tele_num_space_paren_dash)

print(m)

<re.Match object; span=(0, 17), match='+1 (123) 456-7890'>

In [60]:
p = '\d+' 

# python will concatenate 2 strings next to each other

s = "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi, 11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"

m = re.findall(pattern=p, string=s)

print(m)

['13', '12', '11', '10', '9']

In [61]:
p = '\w+\s?\w+:\s?'


s = re.sub(pattern=p, string=multi_str, repl='')

print(s)

What? Ridden on a horse?

Yes!

You're using coconuts!

What?

You've got ... coconut[s] and you're bangin' 'em together.

In [65]:
guard = s.splitlines()[ ::2]

kinga = s.splitlines()[1::2] # skip the first element

print(guard)

['1234567890']

In [63]:
print(kinga)

['', '', '', '']

In [66]:
p = re.compile('\d{10}')

s = '1234567890'

# note: calling match on the compiled pattern

# not using the re.match function

m = p.match(s)
print(m)

<re.Match object; span=(0, 10), match='1234567890'>

In [68]:
p = re.compile('\d+')

s = "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi, 11 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"

m = p.findall(s)

print(m)

['13', '12', '11', '10', '9']

In [69]:
p = re.compile('\w+\s?\w+:\s?')

s = "Guard: You're using coconuts!"

m = p.sub(string=s, repl='')

print(m)

You're using coconuts!

In [71]:


# a re example using the regex library

p = regex.compile('\d+')

s = "13 Jodie Whittaker, war John Hurt, 12 Peter Capaldi, 1 Matt Smith, 10 David Tennant, 9 Christopher Eccleston"

m = p.findall(s)

print(m)

['13', '12', '1', '10', '9']

## Apply

In [74]:
def my_sq(x):

    """Squares a given value


    """

    return x ** 2


def avg_2(x, y):

    """Calculates the average of 2 numbers

    """

    return (x + y) / 2

In [75]:


df = pd.DataFrame({'a': [10, 20, 30],

               'b': [20, 30, 40]})

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [76]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [77]:
sq = df['a'].apply(my_sq)

print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [87]:
def my_exp(x, e,b):

    return b*(x ** e)

In [88]:
cb = my_exp(8, 2,2)

print(cb)

128

In [93]:
ex = df['a'].apply(my_exp, e=2,b=2)

print(ex)

0     200
1     800
2    1800
Name: a, dtype: int64

In [94]:
df = pd.DataFrame({'a': [10, 20, 30],

                   'b': [20, 30, 40]})

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [95]:
def print_me(x):

    print(x)

In [98]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [100]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [101]:
def avg_3(x, y, z):

     return (x + y + z) / 3

In [104]:
print(df.apply(avg_3), axis=0)

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [107]:
def avg_3_apply(col):

     x = col[0]

     y = col[1]

     z = col[2]

     return (x + y + z) / 3

In [113]:
print(df.apply(avg_3_apply, axis=0))

a    20.0
b    30.0
dtype: float64

In [114]:
def avg_2_apply(row):

   x = row[0]

   y = row[1]

   return (x + y) / 2


print(df.apply(avg_2_apply, axis=0))

a    15.0
b    25.0
dtype: float64

In [115]:
print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

In [116]:
import seaborn as sns


titanic = sns.load_dataset("titanic")

In [117]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [118]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [119]:
import numpy as np

In [128]:
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [135]:
def count_missing(vec):

    """Counts the number of missing values in a vector

    """

    # get a vector of True/False values

    # depending whether the value is missing

    null_vec = pd.isnull(vec)


    # take the sum of the null_vec

    # since null values do not contribute to the sum

    null_count = np.sum(null_vec)


    # return the number of missing values in the vector

    return null_count

In [137]:
def prop_missing(vec):

    """Percentage of missing values in a vector

    """

    # numerator: number of missing values

    # we can use the count_missing function we just wrote!

    num = count_missing(vec)


    # denominator: total number of values in the vector

    # we also need to count the missing values

    dem = vec.size


    # return the proportion/percentage of missing

    return num / dem

In [138]:
def prop_complete(vec):

    """Percentage of nonmissing values in a vector

    """


    # we can utilize the percent_missing function we just wrote

    # by subtracting its value from 1

    return 1 - prop_missing(vec)

In [139]:
cmis_col = titanic.apply(count_missing)


pmis_col = titanic.apply(prop_missing)


pcom_col = titanic.apply(prop_complete)


print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [140]:
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [141]:
print(pcom_col)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [146]:
titanic.loc[pd.isnull(titanic.embark_town)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

In [150]:
cmis_row = titanic.apply(count_missing, axis=1)


pmis_row = titanic.apply(prop_missing, axis=1)


pcom_row = titanic.apply(prop_complete, axis=1)


print(cmis_row)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [149]:
print(cmis_row.value_counts())

1    549
0    182
2    160
dtype: int64

In [151]:
df = pd.DataFrame({'a': [10, 20, 30],

'b': [20, 30, 40]})

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [152]:
def avg_2(x, y):

    return (x + y) / 2

In [153]:
print(avg_2(df['a'], df['b']))

0    15.0
1    25.0
2    35.0
dtype: float64

In [154]:
import numpy as np 

def avg_2_mod(x, y):

    """Calculate the average, unless x is 20

    """

    if (x == 20):

        return(np.NaN)

    else:

        return (x + y) / 2

In [155]:
print(avg_2_mod(df['a'], df['b']))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [156]:
print(avg_2_mod(10, 20))

15.0

In [157]:
print(avg_2_mod(20, 30))

nan

In [158]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [159]:
print(avg_2_mod_vec(df['a'], df['b']))

[15. nan 35.]

In [161]:
@np.vectorize

def v_avg_2_mod(x, y):

     """Calculate the average, unless x is 20

     Same as before, but we are using the vectorize decorator

     """

     if (x == 20):

          return(np.NaN)

     else:

          return (x + y) / 2


# we can then directly use the vectorized function

# without having to create a new function

print(v_avg_2_mod(df['a'], df['b']))

[15. nan 35.]

In [162]:
import numba


@numba.vectorize

def v_avg_2_numba(x, y):


      """Calculate the average, unless x is 20

      Using the numba decorator.

      """

      # we now have to add type information to our function

      if (int(x) == 20):

           return(np.NaN)

      else:

           return (x + y) / 2

ModuleNotFoundError: No module named 'numba'

In [163]:
print(v_avg_2_numba(df['a'], df['b']))

NameError: name 'v_avg_2_numba' is not defined

In [164]:
docs = pd.read_csv('data/doctors.csv', header=None)

In [168]:
docs.head()

                             0          name_func
0   William Hartnell (1963-66)   William Hartnell
1  Patrick Troughton (1966-69)  Patrick Troughton
2        Jon Pertwee (1970 74)        Jon Pertwee
3          Tom Baker (1974-81)          Tom Baker
4      Peter Davison (1982-84)      Peter Davison

In [165]:
import regex


p = regex.compile('\w+\s+\w+')

In [171]:
def get_name(s):

     return p.match(s).group()

In [172]:
docs['name_func'] = docs[0].apply(get_name)

print(docs)

                               0              name_func
0     William Hartnell (1963-66)       William Hartnell
1    Patrick Troughton (1966-69)      Patrick Troughton
2          Jon Pertwee (1970 74)            Jon Pertwee
3            Tom Baker (1974-81)              Tom Baker
4        Peter Davison (1982-84)          Peter Davison
5          Colin Baker (1984-86)            Colin Baker
6      Sylvester McCoy (1987-89)        Sylvester McCoy
7             Paul McGann (1996)            Paul McGann
8   Christopher Eccleston (2005)  Christopher Eccleston
9        David Tennant (2005-10)          David Tennant
10          Matt Smith (2010-13)             Matt Smith
11     Peter Capaldi (2014-2017)          Peter Capaldi
12        Jodie Whittaker (2017)        Jodie Whittaker

In [173]:
docs['name_lamb'] = docs[0].apply(lambda x: p.match(x).group())

print(docs)

                               0              name_func              name_lamb
0     William Hartnell (1963-66)       William Hartnell       William Hartnell
1    Patrick Troughton (1966-69)      Patrick Troughton      Patrick Troughton
2          Jon Pertwee (1970 74)            Jon Pertwee            Jon Pertwee
3            Tom Baker (1974-81)              Tom Baker              Tom Baker
4        Peter Davison (1982-84)          Peter Davison          Peter Davison
5          Colin Baker (1984-86)            Colin Baker            Colin Baker
6      Sylvester McCoy (1987-89)        Sylvester McCoy        Sylvester McCoy
7             Paul McGann (1996)            Paul McGann            Paul McGann
8   Christopher Eccleston (2005)  Christopher Eccleston  Christopher Eccleston
9        David Tennant (2005-10)          David Tennant          David Tennant
10          Matt Smith (2010-13)             Matt Smith             Matt Smith
11     Peter Capaldi (2014-2017)          Peter Capaldi          Peter Capaldi
12        Jodie Whittaker (2017)        Jodie Whittaker        Jodie Whittaker